# gitignore for ss2solr
ssUser.ini
dummy_cookie.txt
*.tab
iiif-static-images/*
nightly-use-force.sh
vendor
*.log

# build
!build/phpmd.xml
!build/phpunit.xml
!build/phpdox.xml
build/*

.DS_Store

.env
.env-file